<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>547708576057-75qc0srtm4f34h32aaqos4luivd8bld7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547708576057-75qc0srtm4f34h32aaqos4luivd8bld7</string>
	<key>API_KEY</key>
	<string>AIzaSyBkvcTOZC-4FkNAHwH4OiKxOQ0pTHorYSs</string>
	<key>GCM_SENDER_ID</key>
	<string>547708576057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.citytech.MutlaqServiceApp</string>
	<key>PROJECT_ID</key>
	<string>almutlaq-realstate</string>
	<key>STORAGE_BUCKET</key>
	<string>almutlaq-realstate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:547708576057:ios:84c7ec569514f0f7</string>
	<key>DATABASE_URL</key>
	<string>https://almutlaq-realstate.firebaseio.com</string>
	<key>TRACKING_ID</key>
	<string>UA-123456789-0</string>
</dict>
</plist>
